<main>
<table>
    <caption class="caption">Top currencies</caption>
    <thead>
    <tr>
      <th class='table-tr'>Exchange rate to hryvnia (UAH)</th>
      <th class='table-tr'>The average rate in banks</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="defaultRates">
      <tr *ngFor="let item of defaultCompareCurrencies">
          <td>{{item}}</td>
          <td>{{item | rateByName:defaultRates}}</td>
      </tr>
      <tr *ngFor="let item of currenciesList | slice:0:limit">
        <td *ngIf="item !== 'USD' &&  item !== 'EUR'">{{item}}</td>
        <td *ngIf="item !== 'USD' &&  item !== 'EUR'">{{item | rateByName:defaultRates}}</td>
      </tr>
    </ng-container>
    </tbody>
    <tfoot>
    <tr>
      <th colspan='6'>
        <div class="table-footer">
          <button class='token-button' (click)='showMore()'>
            {{ buttonText }}
          </button>
        </div>
      </th>
    </tr>
    </tfoot>
  </table>
</main>
