.container {
  margin-left: 35%;

  .btn {
    margin-left: 20%;
    background-color: lightblue;
    border-radius: 20px;
    font-size: x-large;
  }

  .input-select {
    margin-top: 10px;
    margin-bottom: 10px;

    input {
      font-size: large;
    }

    select {
      font-size: large;
    }
  }
}




